* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background: url('../images/korea-background.jpg');
  	background-size: cover;
  	height: 100%;
  	overflow: hidden;
  	background-repeat: no-repeat;
  	background-position: fixed;
}

/*Start Screen*/

#title {
	font-family: 'Shojumaru', cursive;
	font-size: 45px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#startPage {
	width: 770px;
	height: 530px;
	text-align: center;
}

#flag {
  width: 500px;
  height: 300px;
  opacity: 0.6;
  display: block;
  margin: 25px auto;
}

/*Questions*/

.questionScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#questionsPage {
	width: 770px;
	height: 530px;
	text-align: center;
}

/*Buttons*/ 

#start {
  margin-top: 20px;
  line-height: 60px;
  font-family: 'Gamja Flower', cursive;
  font-size: 27px;
  padding: 0 40px;
  background: #6680b1;   
  border: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#start:hover {
  background: #8ca5d4;
}

#button {
  line-height: 60px;
  font-family: 'Gamja Flower', cursive;
  font-size: 27px;
  padding: 0 70px;
  background: #6680b1;   
  border: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 5px auto;
}

#button:hover {
  background: #8ca5d4;
}

#reset {
  line-height: 60px;
  font-family: 'Gamja Flower', cursive;
  font-size: 27px;
  padding: 0 70px;
  background: #6680b1;   
  border: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 20px auto;
}

#reset:hover {
  background: #8ca5d4;
}

/*Body*/

#timer {
  font-family: 'Gamja Flower', cursive;
  margin-top: 10px;
  font-size: 40px;
}

h2 {
  font-family: 'Gaegu', cursive;
  margin-top: 30px;
  font-size: 30px;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Gaegu', cursive;
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 40px;
}

h4 {
  font-family: 'Gaegu', cursive;
  margin-top: 50px;
  font-size: 25px;
  margin-bottom: 40px;
}

.results {
  font-family: 'Gaegu', cursive;
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 5px;
}


